[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dateparser = "*"
canonicaljson = "*"
pyyaml = "*"
edtf = "*"
pydantic = "*"
shortuuid = "*"
peewee = "*"
requests = "*"
bs4 = "*"
jinja2 = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.11"
